---
import { getCollection, render } from "astro:content";
import { SHOW_BUY_BUTTON } from "astro:env/server";
import Layout from "../../layouts/Layout.astro";
import AmazonLogo from "../../components/AmazonLogo.astro";
import BookScore from "../../components/BookScore.astro";

export async function getStaticPaths(){
    const books = await getCollection('books');

    return books.map((book) => ({
        params: { id: book.slug },
        props: { book }
    }))
}

const { book } = Astro.props
const { data, slug } = book
const { title, author, img, readtime, description, buy } = data

const { Content } = await render(book)

export const prerender = true
---

<Layout title={`${title} - Dev Books`}> 
    <div class="flex flex-col md:flex-row gap-12 mt-24 p-8 "> 
        <aside class="flex flex-col items-center gap-4">
            <a href="/" class="hover:underline opacity-70">← regresar a la pagina principal</a>
            <img src={`/${img}`} alt={title} class="rounded w-96 h-auto" transition:name={`img-${slug}`}/>
            <BookScore server:defer id={slug}>
                <span slot="fallback" class="text-xs opacity-70">Cargando...</span>
            </BookScore>

            {
                SHOW_BUY_BUTTON && (
                    <a href={buy.usa}
                    class="bg-yellow-300 w-full rounded-lg p-4 text-center text-black font-bold hover:bg-yellow-400 flex items-center justify-center gap-2">
                        Comprar en Amazon
                        <AmazonLogo/>
                    </a>
                )
            }
        </aside>

        <main class="max-w-3xl">
            <h1 class="text-4xl font-bold mb-4" transition:name={`title-${slug}`}>{title} </h1>
            <div class="prose prose-invert">
                <Content/>
            </div>
        </main>
    </div>
</Layout>
